{% extends 'base.html.twig' %}

{% block content_title %}
    Configure
{% endblock %}

{% block content %}

    <form action="addorder" method="post" id="frmConfigureProduct">
        <input type="text" name="id" class="hidden" value="{{ product[0].id }}">
        <input type="text" name="lifetime" id="lifetime" class="hidden" value="">

        {% if product[0].isTrial == 1  and product[0].trialNotAllowedReason is empty %}
            <input type="text" name="trial" class="hidden" value="1">

        {% endif %}
        <div class="container-fluid product-single" style="max-width: 1500px">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-12">
                    <h3 style="color: black;font-weight: bold;">{{ product[0].name }}</h3>


                    <div class="description">
                        {{ product[0].description | raw }}
                    </div>


                    <div class="billing-cycle form-group">
                        <label for="inputBillingcycle">Choose Billing Cycle</label>

                        <select name="billingcycle" id="inputBillingcycle" class="form-control">


                            {% if product[0].isTrial == 1 and product[0].trialNotAllowedReason is empty %}
                             <option class="Trial Monthly" value="monthly">$0.00 for 2 days ${{  product[0].monthly }} thereafter monthly*</option>


                                {% else %}



                                {% if product[0].msetupfee != 0 %}
                                <option class="Monthly" value="monthly">${{  product[0].monthly }} USD Monthly + ${{ product[0].msetupfee }} USD Setup Fee</option>



                                {% else %}
                                <option class="Monthly" value="monthly">${{  product[0].monthly }} USD Monthly</option>
                                {% endif %}

                                {% if product[0].quarterly is defined and (product[0].quarterly != -1)%}
                                    <option class="Quarterly" value="quarterly">${{  product[0].quarterly }} USD Quarterly</option>
                                {% endif %}

                                {% if product[0].semiannually is defined and (product[0].semiannually != -1)%}
                                    <option class="Semiannually" value="semiannually">${{  product[0].semiannually }} USD Semiannually</option>
                                {% endif %}

                                {% if product[0].annually is defined and (product[0].annually != -1)%}
                                    <option class="Annually" value="annually">${{  product[0].annually }} USD Annually</option>
                                {% endif %}

                                {% if product[0].biennially is defined and (product[0].biennially != -1)%}
                                    <option class="Biennially" value="biennially" >${{  product[0].biennially }} USD Biennially</option>
                                {% endif %}

                                {% if product[0].triennially is defined and (product[0].triennially != -1)%}
                                    <option class="Triennially" value="triennially">${{  product[0].triennially }} USD Triennially</option>
                                {% endif %}


                            {% endif %}

                        </select>


                        <p style="font-size: 12px; text-align: right;    margin-top: 10px;
    margin-right: 10px;" class="trial-text" >
                            *In order to activate a free 2 days trial, you must to  <a href="{{ url_remote('whmcsPPBA', {'redirectToDashboard': 1}) }}" class="">
                                <span>Activate PPBA&nbsp;&nbsp;<i class="fa fa-cc-paypal"></i></span>
                            </a>
                        </p>



                    </div>




                    <div class="configure-server" >

                        <h6>Configure Server</h6>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputHostname">Hostname</label>
                                    <input type="text" name="hostname" class="form-control" id="inputHostname" value="" placeholder="servername.yourdomain.com">
                                    <small class="help-block" style="display: inline-block;">
                                        <strong>Hostnames must have no spaces or special characters. Example: "Server1" is acceptable.</strong>
                                    </small>
                                    <div style="display:none; color: red;font-size: 13px;clear: both;" id="hosterr">
                                        <b>Invalid hostname. Hostnames must contain only letters and numbers. No spaces or special characters.</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputRootpw">Root Password</label>
                                    <input type="password" name="rootpw" class="form-control" id="inputRootpw" value="">

                                    <small class="help-block" style="display: inline-block;">
                                        <strong>Password must contain at least 3 of the following:</strong>
                                        An uppercase letter, a lower case letter,a number or a special symbol
                                    </small>
                                    <div style="display:none; color: red;font-size: 13px;clear: both;" id="passerr">
                                        <b>Password must contain at least 10 characters and 3 of the following:  An uppercase letter, a lower case letter, a number or a special symbol</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if product[0]['configoptions'].configoption |length >0 %}
                        <div class="configure-options">
                            <h6>Configure Options</h6>

                            <div class="row">

                                <div class="col-sm-6">


                                    <div class="form-group">
                                        <label for="inputConfigOption{{ product[0]['configoptions']['configoption'][0].id }}" class="">
                                        {{product[0]['configoptions']['configoption'][0].name}}
                                        </label>
                                        <select name="location"
                                        id="inputConfigOption{{ product[0]['configoptions']['configoption'][0].id  }}" class="form-control">


                                            {% for location in product[0]['configoptions']['configoption'][0]['options']['option'] %}
                                            <option value="{{ location.id }}">{{ location.name }}</option>


                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">


                                    <div class="form-group">
                                        <label for="inputConfigOption{{ product[0]['configoptions']['configoption'][1].id }}" class="">
                                            {{product[0]['configoptions']['configoption'][1].name}}
                                        </label>
                                        <select name="os" id="inputConfigOption{{ product[0]['configoptions']['configoption'][1].id  }}" class="form-control">


                                            {% for os in product[0]['configoptions']['configoption'][1]['options']['option'] %}
                                                <option value="{{ os.id }}">{{ os.name }}</option>


                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">


                                    <div class="form-group">
                                        <label for="inputConfigOption{{ product[0]['configoptions']['configoption'][2].id }}" class="">
                                            {{product[0]['configoptions']['configoption'][2].name}}
                                        </label>
                                        <select name='ssd' id="inputConfigOption{{ product[0]['configoptions']['configoption'][2].id  }}" class="form-control" style="word-spacing: 4px;">


                                            {% for ssd in product[0]['configoptions']['configoption'][2]['options']['option'] %}

                                                {% if ssd['pricing']['USD'].monthly != 0 %}
                                                    <option value="{{ ssd.id }}"><span class="ssd-name">{{ ssd.name }}</span> ${{ ssd['pricing']['USD'].monthly }} USD</option>

                                                {% endif %}



                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <div class="col-sm-6">


                                    <div class="form-group">
                                        <label for="inputConfigOption{{ product[0]['configoptions']['configoption'][3].id }}" class="">
                                            {{product[0]['configoptions']['configoption'][3].name}}
                                        </label>
                                        <select name="ram" style="word-spacing: 4px;"
                                                id="inputConfigOption{{ product[0]['configoptions']['configoption'][3].id  }}" class="form-control">


                                            {% for ram in product[0]['configoptions']['configoption'][3]['options']['option'] %}

                                                {% if ram['pricing']['USD'].monthly != 0 %}
                                                    <option value="{{ ram.id }}"><span class="ram-name">{{ ram.name }}</span> ${{ ram['pricing']['USD'].monthly }} USD</option>

                                                {% endif %}



                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>




                            </div>


                        </div>

                    {% endif %}
                </div>
                <div class="col-xl-4  col-lg-5 col-md-12 sticky-50">

                    <div class="summary" >

                        <h4>
                            Order Summary
                        </h4>


                        <div class="summary-body">
                            {#<h5 class="product-name">{{ product[0].name }}</h5>#}
    {##}
                            {#<p class="product-group">#}
                                {#$mock of product group#}
                            {#</p>#}


                            <div class="price-list">

                                <div class="price-row">
                                    <span>{{ product[0].name }}</span>
                                    <span>$<span class="billing-price">{{ product[0].monthly }}</span> USD</span>
                                </div>

                                {% if product[0]['configoptions'].configoption |length >0 %}

                                    <div class="price-row">
                                        <span>» Location: <span class="total-country" style="font-weight: bold;"></span></span>
                                        <span>$0 USD</span>
                                    </div>

                                    <div class="price-row">
                                        <span>» OS: <span class="total-os" style="font-weight: bold;"></span></span>
                                        <span>$0 USD</span>
                                    </div>

                                    <div class="price-row">
                                        <span>» SSD Size: <span class="total-ssd" style="font-weight: bold;"></span></span>
                                        <span>$<span class="total-ssd-price"></span> USD</span>
                                    </div>
                                    <div class="price-row">
                                        <span>» RAM Size: <span class="total-ram" style="font-weight: bold;"></span></span>
                                        <span>$<span class="total-ram-price"></span> USD</span>
                                    </div>
                                {% endif %}

                                <hr>
                                <div class="price-row">
                                    <span class="">Setup Fees</span>
                                    <span>$<span class="">{{ product[0].msetupfee }}</span> USD</span>
                                </div>
                                <div class="price-row">
                                    <span class="total-billing-cycle-label">Monthly</span>
                                    <span>$<span class="billing-price monthly-price">{{ product[0].monthly }}</span> USD</span>
                                </div>

                                <hr>

                                <div class="price-column">
                                    <input type="text" class="hidden priceInput" id='priceInput' value="" name="totalPrice" >

                                    <div class="promo-output-success">

                                    </div>
                                    <span class="total-price-span">$<span class="price">100</span> USD</span>
                                    <span class="non-trial-text">Total due today</span>

                                    <span class="trial-text">

                                        {% if product[0].isTrial == 1 and product[0].trialNotAllowedReason is empty %}
                                            <input type="text" class="hidden priceTrialThereafter"  value="{{ product[0].monthly  }}" name="totalPriceThereafter" >
                                            <input type="text" class="hidden priceTrialThereafterTotal"  value="{{ product[0].monthly  }}" name="totalPriceThereafterTotal" >

                                        for 2 days <span class="price-thereafter">${{ product[0].monthly  }}</span> thereafter
                                        {% endif %}


                                    </span>


                                </div>



                            </div>


                        </div>

                    </div>

                    <div class="promocode-wrap form-group">


                        {% if product[0].isTrial != 1 %}

                            <a class="have-a-coupon" data-toggle="collapse" href="#promocodeInput" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Have a promocode?
                            </a>

                            <div class="collapse" id="promocodeInput">
                                <label for="promocode">

                                    <input type="text" name="promocode" id="promocode" placeholder="Enter your coupon code" value="" class="form-control">
                                    <input type="text" name="discount" id="discount" placeholder="Enter your coupon code" value="1" class="hidden">
                                    <span class="tt-btn-blue check-promocode">Apply Promocode</span>
                                </label>
                            </div>
                            {#<label for="inputBillingcycle">Have a coupon?</label>#}


                            <div class="promo-output">

                            </div>
                        {% endif %}




                        {#<span class="check-promocode">Check promocode</span>#}

                    </div>



                    <button type="submit" class="tt-btn-red btnComplete" id="btnCompleteProductConfig">Order now</button>
                </div>
            </div>
        </div>
    </form>


{% endblock %}

{% block page_scripts %}

    <script type="text/javascript">

        $('.btnComplete').on('click', function() {
            return checkForm($('#frmConfigureProduct')[0]);
        });
        function checkForm(form)
        {
            if (!$(form).find('input[name=hostname]').length) {
                return true;
            }

            var hosterr="false";
            var passerr="false";

            if(!(form.hostname.value != "" && form.hostname.value)) {
                hosterr="true";
            }

            var re = /^[a-zA-Z0-9\-_]+$/;
            // validation fails if the input doesn't match our regular expression
            if(!re.test(form.hostname.value)) {
                hosterr="true";
            }

            if(hosterr=="true") {
                document.getElementById('hosterr').style.display="block";
                form.hostname.focus();
                return false;
            } else {
                document.getElementById('hosterr').style.display="none";
            }

            if(form.rootpw.value != "" && form.rootpw.value) {
                if(form.rootpw.value.length < 10) {
                    passerr="true";
                }
                re = /[0-9]|[^a-zA-Z0-9\-\/]/;
                if(!re.test(form.rootpw.value)) {
                    passerr="true";
                }
                re = /[a-z]/;
                if(!re.test(form.rootpw.value)) {
                    passerr="true";
                }
                re = /[A-Z]/;
                if(!re.test(form.rootpw.value)) {
                    passerr="true";
                }




            } else {
                passerr="true";
            }

            if(passerr=="true") {
                document.getElementById('passerr').style.display="block";
                form.rootpw.focus();
                return false;
            } else {
                document.getElementById('passerr').style.display="none";
            }

            return true;
        }

    </script>




    {% if product[0]['configoptions'].configoption |length >0 %}


        <script>
            $('.trial-text').css('display', 'none');



            var fees= {{ product[0].msetupfee }};


            $("#inputBillingcycle").on("change", function (e) {

                let newValue = $('select[name="billingcycle"] option:selected').html();

                $('.billing-price').html(newValue.split(" ")[0].slice(1));

                let billingCycleValue = $('select[name="billingcycle"] option:selected').attr('class');

                $('.total-billing-cycle-label').html(billingCycleValue);


                e.preventDefault();
            }).trigger("change");



            $("#inputConfigOption{{ product[0]['configoptions']['configoption'][0].id  }}" ).on('change', function (e) {

                let val = $( "#inputConfigOption{{ product[0]['configoptions']['configoption'][0].id  }} option:selected" ).html();

                $(".total-country").html(val);

                e.preventDefault();

            }).trigger("change");


            $("#inputConfigOption{{ product[0]['configoptions']['configoption'][1].id  }}" ).on('change', function (e) {




                let val = $( "#inputConfigOption{{ product[0]['configoptions']['configoption'][1].id  }} option:selected" ).html();

                $(".total-os").html(val);

                e.preventDefault();
            }).trigger("change");



            $("#inputConfigOption{{ product[0]['configoptions']['configoption'][2].id  }}" ).on('change', function (e) {




                let val = $( "#inputConfigOption{{ product[0]['configoptions']['configoption'][2].id  }} option:selected " ).html();

                $(".total-ssd").html(val.split(' ')[0]);
                $(".total-ssd-price").html(val.split(' ')[1].slice(1));


                refreshPrice();


                if($('#promocode').val() != ""){
                    $('.check-promocode').click();
                }
                e.preventDefault();
            }).trigger("change");


            $("#inputConfigOption{{ product[0]['configoptions']['configoption'][3].id  }}" ).on('change', function (e) {




                let val = $( "#inputConfigOption{{ product[0]['configoptions']['configoption'][3].id  }} option:selected" ).html();

                $(".total-ram").html(val.split(' ')[0]);
                $(".total-ram-price").html(val.split(' ')[1].slice(1));


                refreshPrice();

                if($('#promocode').val() != ""){
                    $('.check-promocode').click();
                }
                e.preventDefault();
            }).trigger("change");


        


        function refreshPrice() {




            var billing = +($('select[name="billingcycle"] option:selected').html().split(" ")[0].slice(1));



            let textSSD = $( "#inputConfigOption{{ product[0]['configoptions']['configoption'][2].id  }} option:selected " ).html();
            let textRAM = $( "#inputConfigOption{{ product[0]['configoptions']['configoption'][3].id  }} option:selected " ).html();

            let ssd = +textSSD.split(' ')[1].slice(1);
            let ram = +textRAM.split(' ')[1].slice(1);


            $(".price").html(fees + billing + ssd + ram);
            $(".monthly-price").html(  billing + ssd + ram);
            $("#priceInput").val((+(fees + billing + ssd + ram)).toFixed(2));





        };

    </script>

    {% else %}


        <script>



            var fees= {{ product[0].msetupfee }};


            $("#inputBillingcycle").on("change", function (e) {

                if($('select[name="billingcycle"] option:selected').hasClass('Trial')){

                    $('.trial-text').css('display', 'block');
                    $('.non-trial-text').css('display', 'none');
                } else{
                    $('.trial-text').css('display', 'none');
                    $('.non-trial-text').css('display', 'block');

                }

                if(!$('select[name="billingcycle"] option:selected').hasClass('Monthly')){


                    $('.promo-output-success').fadeOut();
                    $("#promocode").val('')

                }

                let newValue = $('select[name="billingcycle"] option:selected').html();

                $('.billing-price').html(newValue.split(' ')[0].slice(1));

                let billingCycleValue = $('select[name="billingcycle"] option:selected').attr('class');

                $('.total-billing-cycle-label').html(billingCycleValue);



                refreshPrice();

                e.preventDefault();
            }).trigger("change");


            function refreshPrice() {
                var billing = $('select[name="billingcycle"] option:selected').html();

                $('.price').html( ( +(+billing.split(' ')[0].slice(1) + +fees) ).toFixed(2) );
                $("#priceInput").val((+(billing.split(' ')[0].slice(1))).toFixed(2));

            }



        </script>




    {% endif %}


    <script>


        var productID = {{ product[0].id }};


        function refreshPriceWithDiscount(type , discount){



            if(type == 'Percentage' ){
               let total = $("#priceInput").val();

               discount = 1- ( discount / 100);


                $('.price').html( (total * discount).toFixed(2) );
                $("#priceInput").val( (total * discount).toFixed(2));



                if($('.price-thereafter')){

                    let thereafter = +($('.priceTrialThereafter').val());

                    thereafter = (thereafter * discount).toFixed(2)


                    $('.price-thereafter').html("$"+thereafter);

                    $('.priceTrialThereafterTotal').val(thereafter);


                }

            }


            if(type == 'Fixed Amount' ){
                let total = $("#priceInput").val();


                total = (total - discount).toFixed(2)
                if (total < 0){
                    total = 0
                }



                $('.price').html( total );
                $("#priceInput").val( total);



                if($('.price-thereafter')){

                    let thereafter = +($('.priceTrialThereafter').val());

                    thereafter = (thereafter - discount).toFixed(2)
                    if (thereafter < 0){
                        thereafter = 0
                    }


                    $('.price-thereafter').html("$"+thereafter)

                    $('.priceTrialThereafterTotal').val(thereafter);

                }

            }


        }


        $(".check-promocode").on('click', function () {

            $.ajax({
                url: "{{ url('getpromo') }}",
                type: 'GET',
                data: "promocode="+$('input[name=promocode]').val(),
                success: function(data){
                    refreshPrice();

                    if(data.result == "fail"  ){


                        $('.promo-output').html(
                            "<span style='color: red'>"+ data.reason + "</span>"
                        ).fadeIn();

                        $('.promo-output-success').fadeOut();

                        refreshPrice();
                        $('#lifetime').val('');


                        return
                    }

                    if(data.totalresults == 0 ){
                        $('.promo-output').html(
                            "<span style='color: red'>"+$('input[name=promocode]').val()+" Promocode doesn't exist</span>"
                        ).fadeIn();


                        $('.promo-output-success').fadeOut();

                        refreshPrice();
                        $('#lifetime').val('');


                        return

                    }



                    if( !$('select[name="billingcycle"] option:selected').hasClass("Monthly")){
                        $('.promo-output').html(
                            "<span style='color: red'> Promocode applies only on monthly billing cycle</span>"
                        ).fadeIn();

                        $('.promo-output-success').fadeOut();

                        refreshPrice()

                        return;
                        $('#lifetime').val('');


                    } else {
                        $('.promo-output').fadeOut();
                    }





                    var appliesTo = (data.promotions.promotion[0].appliesto).split(",");
                    var typeOfDiscount = data.promotions.promotion[0].type;
                    var valueOfDiscount = data.promotions.promotion[0].value;

                    var applied = false;

                    appliesTo.forEach(function (item) {


                        if (item == productID){

                            applied = true;
                        }
                    });




                    if(!applied) {

                        $('.promo-output').html("<span style='color: red'>Promocode is not appliable to current service</span>").fadeIn();

                        $('.promo-output-success').fadeOut();


                    } else {


                        refreshPriceWithDiscount(typeOfDiscount, valueOfDiscount);


                        if(typeOfDiscount == 'Percentage' ){
                            typeOfDiscount = "%";

                        }

                        if(typeOfDiscount == 'Fixed Amount' ){
                            typeOfDiscount = "$";

                        }

                        let lifetime = '';

                        if(data.promotions.promotion[0].recurring == 1){

                            if (data.promotions.promotion[0].recurfor == 0){
                                lifetime = 'lifetime'
                                $('#lifetime').val(lifetime);
                            } else {
                                lifetime = data.promotions.promotion[0].recurfor + ' billing cycles';
                                $('#lifetime').val(lifetime);

                            }

                        } else{
                            lifetime = 'one time'
                            $('#lifetime').val(lifetime);

                        }



                        $('.promo-output-success').html('<span style="color: green">- '+ data.promotions.promotion[0].value +" " + typeOfDiscount +' off for '+  lifetime +'</span>').fadeIn();

                    }



                },
                error: function () {

                    alert('incorrect')
                }
            });

        })



    </script>




{% endblock %}